<div class="row m-1">
	<div class="col-12">
		<h5 class="text-center">Oceny i komentarze ({{ recipeRatings?.length }})</h5>
	</div>
	<div class="col-md-7 m-auto" *ngIf="!recipeRatings?.length">
		<div class="card col-md-12">
			<p class="m-3">Brak komentarzy.</p>
		</div>
	</div>
	<div class="col-md-7 m-auto" *ngFor="let recipeRating of recipeRatings; let i = index">
		<app-recipe-rating-form [recipeRating]="recipeRating" (deleteEmitter)="recipeRatings.splice(i, 1)"></app-recipe-rating-form>
	</div>
	<div class="col-md-7 m-auto" *ngIf="!isOnDashboard">
		<h5 class="text-center mt-3">Dodaj ocenę i komentarz</h5>
		<app-add-recipe-rating-form [recipeId]="recipeId" (recipeRatingEmitter)="recipeRatings.push($event)"></app-add-recipe-rating-form>
	</div>
	<div class="col-md-7 m-auto" *ngIf="isOnDashboard">
		<div class="card col-md-12">
			<p class="m-3 mt-0">Zaloguj się, aby dodać komentarz!</p>
		</div>
	</div>
</div>
