<div class="container-fluid">
	<div class="row">

		<div class="col-md-6 col-xs-12">
			<div class="side-section">
				<h1>Logowanie</h1>
				<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="login-form">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="email">Email</label>
								<input class="form-control" type="text" id="email" formControlName="email">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label for="password">Hasło</label>
								<input class="form-control" type="password" id="password" formControlName="password">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"
                [ngClass]="{'pulse': loginForm.valid}">Zaloguj</button>
						</div>
					</div>
				</form>
			</div>
    </div>

	</div>
</div>
